body{
    background-color: hsl(220, 21%, 86%);
    height: 100%;
    overflow-y:hidden ;
}
.main{
    width: 20vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 4rem auto;
    /* margin-left: 30rem;
    margin-bottom: 0px; */
    display: flex;
    flex-direction: column;
    position: relative;
}
img
{
     height:90%;
     width: 99%;
    border-radius: 0.5rem;
}
.content
{
    text-align: center;
}
h2{
    font-weight: 700;
    font-size: 1.1rem;
    
}
p{
    font-weight: 400;
    font-size: 15px;
}
.attribution
{
    font-size: 15px;
}
@media (max-width:600px) {
    .main {
        width: 90%; 
        height: fit-content;
        margin: 2rem auto; 
    }

}